---
layout: default
---
<link rel="stylesheet" href="{{ "/css/timeline.css" | prepend: site.baseurl }}">
<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h2>{{ page.title }}</h2>
                    {% if page.subtitle %}
                    <h3 class="subheading">{{ page.subtitle }}</h3>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{ page.content | markdownify }}
            </div>
        </div>
    </div>
</article>

        <!--script type="text/javascript">
         console.log("Dumping");
         console.log({{ class | jsonify }});
       </script
        style="list-style: none" |  style="list-style: none"
     -->
<!-- Post Content -->
<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Uncledom</h2>
      <ul class="timeline">
        {% assign timeline_data = site.data[{{page.data-file}}] %}
        {% comment %} {{ timeline_data | jsonify }} {% endcomment %}
        {% for post in timeline_data %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% capture class %}
            {% if loopindex == 0 %}
              timeline-inverted
            {% endif %}
          {% endcapture %}

        {% comment %} {{ class | jsonify }} {% endcomment %}


        <li class="{{ class }}">
          <div class="timeline-image">
              <!-- problem is here, image is for some reason not inheriting timeline-image-->
              <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>{{ post.title }}</h4>
                  <h4 class="subheading">{{ post.subtitle }}</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted">{{ post.content | markdownify }}</p>
              </div>
          </div>
        </li>

        {% endfor %}

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/{{ site.career-img }}" alt="">
          </div>
        </li>

      </ul>
      <!--/div>
      </div-->

      <hr>

      <ul class="pager">
      {% if page.previous.url %}
        <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</section>

<hr>
